/EnterpriseApplication2/nbproject/private/
/EnterpriseApplication2/EnterpriseApplication2-war/nbproject/private/
/EnterpriseApplication2/EnterpriseApplication2-ejb/nbproject/private/
/SmartphoneOnlineStore/nbproject/private/
/SmartphoneOnlineStore/SmartphoneOnlineStore-war/nbproject/private/
/SmartphoneOnlineStore/SmartphoneOnlineStore-ejb/nbproject/private/
/SmartphoneOnlineStore/SmartphoneOnlineStore-ejb/build/
/SmartphoneOnlineStore/SmartphoneOnlineStore-ejb/dist/
/SmartphoneOnlineStore/SmartphoneOnlineStore-war/build/
/SmartphoneOnlineStore/dist/
/SmartphoneOnlineStore/build/
/SmartphoneOnlineStore/SmartphoneOnlineStore-war/dist/