p{
    font-size: 2em; 
    font-family: Helvetica;
    color: white;
}

#transparentButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding-top: 2em;
}

.bg1{
    background-color: orange;
}

.navbar .navbar-nav > li > a {
    line-height: 45px;
}