body {
    padding-top: 75px; /* 60px to make the container go all the way to the bottom of the topbar */
}

p{
    font-family: Helvetica;
    font-size: 1em; 
    color: black;
}

#transparentButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding-top: 2em;
}


#transparentButton:hover{
    color: black;
}

#cartButton0{
    background-image: url("img/carrito0.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton1{
    background-image: url("img/carrito1.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton2{
    background-image: url("img/carrito2.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton3{
    background-image: url("img/carrito3.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton4{
    background-image: url("img/carrito4.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton5{
    background-image: url("img/carrito5.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton6{
    background-image: url("img/carrito6.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton7{
    background-image: url("img/carrito7.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton8{
    background-image: url("img/carrito8.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton9{
    background-image: url("img/carrito9.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton10{
    background-image: url("img/carrito10.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}

#cartButton11{
    background-image: url("img/carrito11.png");    
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray;
    padding: 2em;
}


.bg1{
    background-color: orange;
}

.round {
    display: inline-block;
    height: 25px;
    width: 25px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #F4511E;    
    text-align: center;  
    margin-top: 1.5em;
    font-size: smaller;
}

.navbar .navbar-nav > li > a {
    line-height: 45px;
}

.btn-default{
    background-color: lightgray;
}

.btn-delFromCart{
    background-color: #ffaaa2;
    color: black;
    border-color: black;
}

.btn-delFromCart:hover{
    background-color: #ff7a72;
    color: black;
    border-color: black;
}

.btn-continueShopping{
    background-color: #F7BE81;
    color: black;
    border-color: black;
}

.btn-continueShopping:hover{
    background-color: #FE9A2E;
    color: black;
    border-color: black;
}

.btn-purchase{
    background-color: #c4ffc0;
    color: black;
    border-color: black;
}

.btn-purchase:hover{
    background-color: #81ff7b;
    color: black;
    border-color: black;
}
.scrollable-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.dropdownButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: black;            
}

#minusPlusButton{
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    padding: 2em;
}

/*.decrementButton{
    visibility: hidden;
    height: 0em;
    width: 0em;
}*/

/*.incrementButton{
    visibility: hidden;
    height: 0em;
    width: 0em;
}*/

/*#borrar img {
    height: calc(100vh - 50px);
    width: 100%;
}

@media screen and (min-width: $$px) {
    
}*/

/*#contenedor-flex {
    width: 500px;
    height: 500px;
    background: red;
    display: -webkit-flex; 
    -webkit-align-items: center;
    align-items: center;
    justify-content:center;
}*/